input.ng-valid.ng-touched {
    border: 3px solid lightgreen;
}

input.ng-invalid.ng-touched {
    border: 3px solid lightcoral;
}

select.ng-valid.ng-touched {
    border: 3px solid lightgreen;
}

select.ng-invalid.ng-touched {
    border: 3px solid lightcoral;
}

.error {
    font-size: 14px;
    color: lightcoral;
}