<select id="categorias" (change)="optionSelected($event)">
    <option [value]="null">Selecciona Categoria</option>
    <option *ngFor="let category of optionsCategories" [value]="category">{{category}}</option>
</select>

<div class="posts">
    <div class="post" *ngFor="let post of arrPosts">
        <h2>{{post.titulo}}</h2>
        <hr>
        <img [src]="post.imagen">
        <p><span>Descripción:</span> {{post.texto}}</p>
        <p><span>Autor:</span> {{post.autor}}</p>
        <p><span>Fecha de publicación:</span> {{post.fecha}}</p>
        <p><span>Categoria:</span> {{post.categoria}}</p>
    </div>
</div>